  /* fonts */
  $body-12-medium: Roboto;
  $heading-h3-39: Poppins;

  /* font sizes */
  $body-12-medium-size: 12px;
  $body-body-14-size: 14px;
  $body-body-16-size: 16px;
  $font-size-xl: 24px;
  $font-size-2xl: 28px;
  $heading-h3-39-size: 39px;

  /* Colors */
  $color-gray-100: #f8f7f9;
  $color-gray-200: #f6f6f6;
  $gray-gray-1: #f5f5f5;
  $stroke: #f1f1f1;
  $color-gray-500: #eaeaea;
  $color-gray-600: #e6e6e6;
  $boder: #c9c9c9;
  $gray-gray-4: #c8c8c8;
  $font-color-gray-3: #b3b3b3;
  $color-gray-1000: #acacac;
  $font-color-gray-2: #7f7f7f;
  $gray-2: #6f6f6f;
  $color-gray-1300: #4d4d4d;
  $color-gray-1400: #3f3f3f;
  $text: #29282b;
  $main-text: #181818;
  $color-gray-1700: rgba(103, 103, 103, 0.6);
  $white: #fff;
  $main: #8954c2;
  $color-violet-100: #c18ff5;
  $new-brand-xanh: #5487f5;
  $base-color-red: #f33b2f;
  $font-color-black: #000;

  /* Gaps */
  $gap-0: 0px;
  $gap-6xs: 2px;
  $gap-5xs: 4px;
  $gap-4xs: 5px;
  $gap-3xs: 6px;
  $gap-2xs: 7px;
  $gap-xs: 8px;
  $gap-sm: 9px;
  $gap-md: 10px;
  $gap-lg: 12px;
  $gap-xl: 16px;
  $gap-2xl: 18px;
  $gap-3xl: 20px;
  $gap-4xl: 24px;
  $gap-5xl: 25px;
  $gap-6xl: 36px;

  /* Paddings */
  $padding-5xs: 1px;
  $padding-4xs: 2px;
  $padding-3xs: 4px;
  $padding-2xs: 12px;
  $padding-xs: 13px;
  $padding-sm: 16px;
  $padding-md: 17px;
  $padding-lg: 20px;
  $padding-xl: 22px;
  $padding-2xl: 24px;
  $padding-3xl: 25px;
  $padding-4xl: 32px;

  /* border radiuses */
  $br-2xs: 5px;
  $br-xs: 6px;
  $br-sm: 8px;
  $br-md: 10px;
  $br-lg: 20px;
  $br-xl: 30px;
  $br-2xl: 40px;

  /* Effects */
  $effect: 0px 8px 50px rgba(150, 140, 169, 0.1);